.day-table-container {
    width: 100%;
    height: 100%;
}

.event-time-container {
    width: 50px;
    float: left;
    border: 1px solid #ddd;
    border-right: none;
}

.dayTime {
    /*width: 50px;*/
    text-align: right;
    height: 60px;
    border-top: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #555;
}

.dayTime:first-child {
    border-top: none;
}

.calendar-table-container {
    width: calc(100% - 53px); /*3px for borders*/
    float: right;
    border: 1px solid #ddd;
    color: #555;
}